<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <title>Profil | UISTORE</title>
</head>
<body>

    <header>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='images/uistore-logo.png') }}" alt="">
            </div>
            <div class="navbar">'
                <a href="/home">Home</a>
                <a href="/katalog">Katalog</a>
            </div>
            <div class="sidenav">
                <div class="profil">
                    <a href="/profil">
                    <div class="img" href="/profil/profil.html">
                        <img src="{{ url_for('static', filename='images/profile-logo.png') }}" alt="">
                        <p>{{ username }}</p>
                    </div>
                </a>
                </div>
                    <div class="sidebutton">
                        <form action="/logout" method="post">
                            <button type="submit">KELUAR</button>
                        </form>                        
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <img src="{{ url_for('static', filename='images/background-home.png') }}" alt="" class="bghome">
    <img src="{{ url_for('static', filename='images/background home 2.png') }}" alt="" class="bghome2">
    
</body>
</html>